*{
    margin: 0px;
    padding: 0px;
}
.Register{
    margin-top: 20px;
    .model-login{
        height: 690px;
        width: 800px;
    }
    .card-body{
        background-color: rgb(175, 245, 245);
    }
    .btn{
        width: 100%
    }
}